.popup {
	text-align: center;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	width: 300px;
	padding: 20px 0;
}

.popup #loader {
	height: 250px;
	padding: 10px;
}

.popup #album h1 {
	color: rgba(255, 255, 255, 0.6);
	margin: 0;
}

.popup #album #album_view {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px auto 20px;
}

.popup #album #album_view img {
	position: absolute;
	top: 0;
	left: 0;
}

.popup #album #album_view img.play, .popup #album .album_view img.pause {
	top: 50px;
	left: 50px;
}

.popup #album #album_view img.album_art {
	width: 200px;
	height: 200px;
	background: rgba(255, 255, 255, 0.1);
}

.popup #album #album_artist, .popup #album #album_title {
	color: rgba(0, 0, 0, 0.7);
}

.popup #album #album_artist {
	font-size: 16pt;
	line-height: 90%;
}

.popup #album #album_title {
	font-size: 18pt;
	font-weight: bold;
}

#album_view img {
	display: block;
	margin: auto auto;
	width: 64px;
	height: 64px;
}
