.popup_box {
	text-align: center;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	width: 300px;
	padding: 20px 0;
}

.popup_box h1 {
	color: rgba(255, 255, 255, 0.6);
	margin: 0;
}

.popup_box .art {
	display: block;
	width: 200px;
	height: 200px;
	margin: 10px auto 20px;
	background: rgba(255, 255, 255, 0.1);
}

.popup_box .album_artist, .popup_box .album_title {
	color: rgba(0, 0, 0, 0.7);
}

.popup_box .album_artist {
	font-size: 16pt;
	line-height: 90%;
}

.popup_box .album_title {
	font-size: 18pt;
	font-weight: bold;
}

album.img {
	display: block;
	margin: auto auto;
	width: 64px;
	height: 64px;
	border-radius: 8px;
}
